.LoginLayoutController {
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .login-form {
        width: 24em;
        padding: 2em;
        text-align: center;
    }
}
