.LoginLayout {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ddd;
    background-image: url("./content/images/login-wallpaper-blur5px-1920w.webp");
    background-size: cover;
    background-position: center;

    .login-form {
        width: 24em;
        padding: 0 2em 2em;
        text-align: center;
    }

    .input-block {
        margin: auto;
        margin-top: 0.5em;
    }

    .link-block {
        font-size: 0.875em;
        margin-bottom: 1em;
    }

    .avatar {
        width: 100%;
        height: 10em;
        opacity: 0.25;
    }
}