// Floats

.right {
    float: right;
}

.left {
    float: left;
}

.clear {
    clear: both;
}

// Display

.inline {
    display: inline;
}

.inline-block {
    display: inline-block;
}

.block {
    display: block;
}

.fixed {
    display: fixed;
}

.none {
    display: none;
}

// Margin and Padding

.no-pad {
    padding: 0;
}

.no-margin-vertical {
    margin-top: 0;
    margin-bottom: 0;
}

.no-margin {
    margin: 0;
}

// Center

.center {
    margin: 0 auto;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.full-width {
    width: 100%;
}

// fonts size

.text-small {
    font-size: 0.8em;
}

.pointer {
    cursor: pointer;
}

.align-self-center {
    align-self: center;
}
