//screenSizes
$smallScreen: 28em;
$middleScreen: 66em;
$bigScreen: 86em;

// font
$font-family: "Roboto", sans-serif;

// base color
$color-primary: #35373d;
$color-secondary: #1996e4;
$color-tertiary: #eee;
$color-quaternary: #ed7e2d;

$color-success: #66ac3c;
$color-info: $color-secondary;
$color-warning: $color-tertiary;
$color-danger: $color-quaternary;
$color-disabled: #eee;
$color-highlighted: $color-primary;

// animation
$transition-primary: 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);

// text colors
$text-color-primary: black;
$text-color-secondary: white;
$text-color-tertiary: $color-primary;
$text-color-quaternary: $color-secondary;

$text-color-success: $color-success;
$text-color-info: $color-info;
$text-color-warning: $color-warning;
$text-color-danger: $color-danger;
$text-color-disabled: #eee;
$text-color-highlighted: $color-primary;
